<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정페이지</title>
</head>

<style>
    .layout{
    width : 500px;
    margin : 0 auto;
    }

    .layout input{
        width : 100%;
        box-sizing : border-box;
        margin-top : 10px;

    }
    .layout textarea{
        width : 100%;
        box-sizing : border-box;
        margin-top : 10px;
        min-height : 400px;

    }
</style>

<body>
<div class="layout">
    <form th:action="@{/board/Update/{board_ID}(board_ID=${board.board_ID})}" method="post">
        <h>제목</h>
        <input name="boardTitle" type="text" th:value="${board.boardTitle}">
        <h>이름</h>
        <input name="userID" type="text" th:value ="${board.userID}">
        <h>작성일</h>
        <input name="CreateDate" type="text" th:value ="${board.CreateDate}">
        <h>내용</h>
        <textarea name ="boardContent" th:text ="${board.boardContent}"></textarea>
        <button type="submit"> 수정 </button>

    </form>

</div>
</body>
</html>