<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성페이지</title>
</head>

<style>
    .layout{
    width : 500px;
    margin : 0 auto;
    }

    .layout input{
        width : 100%;
        box-sizing : border-box;
        margin-top : 10px;

    }
    .layout textarea{
        width : 100%;
        box-sizing : border-box;
        margin-top : 10px;
        min-height : 400px;

    }
</style>

<body>
    <div class="layout">
        <form action="/board/writePro" method="post">
            <h>제목</h>
            <input name="boardTitle" type="text">
            <h>이름</h>
            <input name="userID" type="text">
            <h>작성일</h>
            <input name="CreateDate" type="text" th:value ="${time}">
            <h>내용</h>
            <textarea name ="boardContent"></textarea>
            <button type="submit"> 작성 </button>
            <button>
                <a th:href="@{/board/list}">취소</a>
            </button>

        </form>

    </div>
</body>
</html>