<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 페이지</title>
</head>
<style>
    .layout{
    width : 500px;
    margin : 0 auto;
    }

    .layout2{
    height :  700px;
    }
</style>
<body>
<table border="1" class="layout">

    <thead>
    <button>
        <a th:href ="@{/board/delete(id=${board.boardID} )}">게시글삭제</a>
    </button>
    <button>
        <a th:href ="@{/board/modify/{boardID}(boardID=${board.boardID})}">게시글수정</a>
    </button>
    <button>
        <a th:href="@{/board/list}">목록</a>
    </button>
    </thead>

    <tbody>
    <td>제목</td>
    <td th:text ="${board.boardTitle}" >제목</td>
    <tr></tr>
        <th class = "layout2">내용</th>
        <th th:text ="${board.boardContent}">내용</th>
    </tbody>
</table>
<div>
    <table border="1" class="layout">
    <tbody>
    <form action="/board/writeCommentPro" method="post">
        <tr>
            <td>
            <input name="boardID" type="hidden" th:value ="${board.boardID}">
            <input name="boardCommentUserID" type="text">
            <input name ="boardCommentContent"></input>
            <button type="submit" >작성</button>
            </td>
        </tr>
    </form>
    </tbody>
    </table>

</div>
<div class="layout">

    <table border="1" class="layout">
        <thead>
            <tr>
                <th colspan="2">댓글</th>
            </tr>

            <tr th:each="Board_Comment : ${Board_Comment}"> <!--${}안에는 Controller의 addAttribute에서 설정한 속성명이 들어가야함.-->
                <td th:text ="${Board_Comment.boardCommentUserID}" >제목</td>
                <td th:text ="${Board_Comment.boardCommentContent}">내용</td>
            </tr>
        </thead>
    </table>

</div>


</body>
</html>