<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정 페이지</title>
</head>
<style>
    .layout{
    width : 500px;
    margin : 0 auto;
    }

    .layout2{
    height :  700px;
    }
</style>
<body>
<table border="1" class="layout">
    <tbody>
    <td>제목</td>
    <td th:text ="${board.board_title}" >제목</td>
    <tr></tr>
    <th class = "layout2">내용</th>
    <th th:text ="${board.board_Content}">내용</th>
    </tbody>
</table>




</body>
</html>